* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var--font-color: rgb(179, 255, 0);
}

html {
    background-color: salmon;
    background-image: url('../images/background-fullscreen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
header img {
    max-width: 150px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    color: var(--var--font-color);
}

a {
    color: var(--var--font-color);
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
}

header h2 {
    margin-right: auto;
    font-size: 200%;
    font-variant: small-caps;
}
nav ul { 
    display: flex;
    list-style-type: none;
}



nav li {
    background-color: rgba(220, 15, 15, 0.529);
    margin-inline: 1vw;
}

nav a {
    padding: 2vh 1vw;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
    transition: all 300ms ease;
}


nav a:hover {
    background-color: rgba(220, 200, 200, 0.8);
    color: darkblue;
}

main {
    display: flex;
    gap: 1vw;
    justify-content: center;
}

aside, section {
    flex: 0 1 400px;
    border: 3px ridge purple;
    height: 400px;
    background-color: rgba(250, 128, 114, 0.715);
}

footer {
    padding: 3vh 0;
}

footer p {
    text-align: center;
    font-size: 85%;

}

#hamburger-icon {
    z-index:999;
    position: absolute;
    top: 3vh;
    right: 3vh;
    font-size: 175%;
    display: none;
}
#x-icon {
    z-index:999;
    position: absolute;
    top: 3vh;
    right: 3vh;
    font-size: 175%;
    display: none;
}
#navigation {
    display: block;
}

#hamburger-icon:hover, #x-icon:hover {
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    html {
        background-image: url("../images/background-mobile.jpg");
    }
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    aside, section {
        width: 95%;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    header h2 {
        margin-right: 0;
        text-align: center;
    }
    #navigation[data-visible="true"] {
        transform:translateX(0%);
    }
    #showNavigation {
        display: none;
        width: 25px;
        aspect-ratio: 1;
        background-color: red;
        position: absolute;
        top: 3vh;
        right: 3vh;
        z-index: 9998;
        border: none;
        
    }

    #showNavigation[data-visible="false"] {
        display: block;
    }
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        margin-top: 30vh;
    }
    #hamburger-icon {
        display: none;
    }
    #navigation {
        display: none;
    }
    
}